# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Hidden files
.*/
.*

# Directory storing temporary files
tmp/
tmp/*
.*~
*~

# Data files
*.txt
*.txt~
indata.py
indata.py*

# Directory storing files in development
dev/
dev/*